#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
<li>Pyhton</li>
<li>R Language </li>
<li>Julia</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>Pandas</li>
<li>Numpy </li>
<li>Matplotlib</li>
</ol>

|Data Science Tools|
|---|
|R Studio|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python


1. +
2. -
3. /
4. %
5. *

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**


*   List of popular languages for Data Science
*   List of popular libraires for Data Science
*   List of popule development enviroments for Data Science

##Author :
Fahri Ulkat